@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@700&family=Neonderthaw&family=Poppins:wght@200&family=The+Nautigal&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.main-container-contact{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    /* background:linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(238, 130, 238, 1) 100%); */
    padding-bottom: 5rem;
}

.banner{
    width: 100%;
    height: 3vh;
    background-color: rgba(20, 19, 19, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-family: 'Gentium Basic', serif;
    color:rgb(198, 201, 207)
}


.main-menu{
    width: 100%;
    height: 8vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
    position: sticky;
    top:0;
    z-index:100;
    background-color: rgb(39, 39, 48,.8);
}

.logo h1 a{
    text-decoration: none;
    color: rgb(198, 201, 207);
}
.main-menu ul{
    list-style: none;
    margin:0;
    padding: 0;
    /* margin-top: 1rem; */
}

.main-menu ul li{
    display: inline-block;
    margin: 0 1em;
    font-weight: bolder;
}

.main-menu ul li a{
    text-decoration: none;
    color: rgb(218, 198, 198);
}